# Virtual environments
venv/
.env/

# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# OS files
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Environment variables
.env
*.secrets

# Package management
pip-log.txt
pip-delete-this-directory.txt

# Jupyter Notebooks
.ipynb_checkpoints/

# IDE/editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Build files
dist/
build/
*.egg-info/

/hl-dev/
venv/
venv/
venv/
